body{
    background-color:black;
}

.fonte{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: grey; 
}

.logo{
    width: 150px;
    margin-left: 50px;
}

.titulo{
    font-family: 'Cormorant Garamond', serif;
    color:grey;
    margin: 0 0 20px 0;
}


.label{
    color: white;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0 0 5px 0;
}

.formulario-ano{
    display: flex;
    flex-direction: column;
    width: 100px;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 0 0 10px 0;
}

.botoes-contato{
    display: flex;
    flex-direction: column;
    color: white;
    margin: 20px 0;
}

.imagem-formulario{
    width: 500px;
    height: 600px;
    object-fit: cover;
    margin-left: 100px;
}

.posicionamento-formulario{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    width: 940px;
    margin: 70px auto;
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo-git{
    margin-left: 10px;
    width: 24px;
}

footer{    
    background: linear-gradient(black, white );   
}

footer p{
    display: flex;
    justify-content: center;
    color:black;
}

.logo-redes{
    margin-right: 10px;
    width: 24px;
}

.texto-footer{
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 5px;
}

.botao{
    background-color: sienna;
    border-radius:10px ;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: 1s all;
}

.botao:hover{
    transform: scale(1.2);
}







// Responsividade

@media screen and (max-width:480px){
    .sessao-sobre {
        
    }
}