body{
    background-color:black;
}

.fonte-sobre-nos{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: grey; 
}

.logo{
    width: 150px;
    margin-left: 50px;
}

.fonte-main{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: grey;
    margin-right: 50px; 
}


.fonte-main-meio{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: grey;
    margin-left: 50px; 
}


.sobre-texto{
    width: 400px;
}

.texto-topo{
    width: 940px;
    margin: 100px auto;
}

.texto-quem-somos{
    display: inline-block;
}

.quem-somos p{
    color: white;
    font-size: 20px;
}

.imagens{
    margin: 50px auto;
}

.imagem-quem-somos{
    width: 200px;
    float:left;
	margin: 0 20px 20px 0;     
}

.titulo{
    font-family: 'Cormorant Garamond', serif;
    color:grey;
    margin: 0 0 20px 0;
}

.carro{
    object-fit: cover;
    object-position: 0 60%;
    width: 400px;
    height: 300px;
}

.sobre-topo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sobre-meio{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.caixa-footer{
    width: 350px;
}

.logo-git{
    margin-left: 10px;
    width: 24px;
}

footer{    
    background: linear-gradient(black, white );   
}

footer p{
    display: flex;
    justify-content: center;
    color:black;
}

.logo-redes{
    margin-right: 10px;
    width: 24px;
}

.texto-footer{
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 5px;
}

.botao{
    background-color: sienna;
    border-radius:10px ;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    transition: 1s all;
}

.botao:hover{
    transform: scale(1.2);
}


@media screen and (max-width:480px){
    .sobre-texto, .rodape{
        width: auto;
        text-align: justify;
        margin: 30px 0px;
    }

    .sobre-topo, .sobre-meio{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    

    .card-estilo{
        max-width: 9rem;
    }

    .rodape{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center ;
        margin: 150px 0;
    }

    .caixa-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo-redes, .logo-git{
        display: flex;
        flex-direction: row;
        margin-right: 10px;
        width: 24px;
    }

    .logo{
        width: 150px;
        margin-left: 0px;
    }

    .texto-footer{
        display: flex;
        flex-direction: column;
        justify-content:center;
        padding: 5px 0px;
    }

    .carro{
        object-fit: cover;
        object-position: 0 60%;
        width: 300px;
        height: 300px;
    }
}