body{
    background-color:black;
}

.card-estilo{
    max-width: 15rem;
}

.imagem-carrocel{
    height: 600px;
    object-fit: cover;
}

.fonte-sobre-nos{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: grey;
}

.sessao-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 940px;
    margin: 30px auto;
}

.estilo-botao{
    background-color: red;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    color: white;
}

.cor-cards{
    background-color:lightgray;
}

.imagens-cards{
    height: 200px;
    object-fit: cover;
}

.imagem-card-correcao{
    height: 200px;
    object-fit: cover;
    object-position: 0 80%;
}

.sessao-cards{
    margin: 0 0 50px 0;
}

.mapa{
    display: flex;
    flex-direction: column;
   
    align-items: center;
    margin: 50px 0;
}

.titulo{
    font-family: 'Cormorant Garamond', serif;
    color:grey;
    margin: 0 0 20px 0;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.rodape{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}

footer{
    
    background: linear-gradient(black, white );
       
}

footer p{
    display: flex;
    justify-content: center;
    color:black;
    
}

.logo-redes{
    margin-right: 10px;
    width: 24px;
}

.texto-footer{
    border-radius: 10px;
    padding: 5px 10px;
    margin-right: 5px;
}

.botao{
    background-color: sienna;
    border-radius:10px ;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: 1s all;
}

.botao:hover{
    transform: scale(1.2);
}



// Responsividade

@media screen and (max-width:480px){
    .sessao-sobre {
        
    }
}