body{
    background-color:black;
}

.card-estilo{
    max-width: 15rem;
}

.imagem-carrocel{
    height: 600px;
    object-fit: cover;
}

.fonte-sobre-nos{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: grey;
}

.titulo-sobre{
    font-family: 'Montserrat', sans-serif;
    color: gray;
}

.sessao-sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 940px;
    margin: 30px auto;
}

.estilo-botao{
    background-color: red;
    padding: 10px;
    border: 10px;
    border-radius: 10px;
    color: white;
}

.cor-cards{
    background-color:lightgray;
}

.imagens-cards{
    height: 200px;
    object-fit: cover;
}

.imagens-cards-camaro-ss{
    height: 200px;
    object-fit: cover;
    object-position: 0 80%;
}

.sessao-cards{
    margin: 0 0 50px 0;
}

.mapa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.titulo-mapa{
    font-family: 'Cormorant Garamond', serif;
    color:grey;
    margin: 0 0 20px 0;
}

// Responsividade

@media screen and (max-width:480px){
    .sessao-sobre {
        
    }
}